<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %} {% endblock %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <div class="container">
      <nav class="row">
        <div class="two columns">
          <a href="/"> Home </a>
        </div>
      </nav>

      {% block content %} {% endblock %}

      <footer></footer>
    </div>
  </body>
  {% load static %} {% block scripts %} {% endblock %}

  <link
    rel="stylesheet"
    text="text/css"
    href="{% static 'stylesheets/skeleton.css' %}"
  />

  <link
    rel="stylesheet"
    text="text/css"
    href="{% static 'stylesheets/normalize.css' %}"
  />
  <link
    rel="stylesheet"
    text="text/css"
    href="{% static 'stylesheets/style.css' %}"
  />
</html>
