{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row" id="main-article">
    <a href="{% url 'article-detail' uuid=headline_article.uuid %}">
      {{ headline_article.headline }}
    </a>
    <p>
      {{ headline_article.promo }}
    </p>
  </div>

  <div class="row">
    {% for article in articles %}
    <div class="six columns">
      <a href="{% url 'article-detail' uuid=article.uuid %}">
        {{ article.headline }}</a
      >
      {{ article.promo }}
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
